<!-- <p>new1 works!</p>
<input type="{{str1}}" [value]="str1" >
<div>{{str1}}</div>

<button (click)="showAlert('hello')">Message</button>
<input [type]="str1" [value]="str1">
<ul>
    <li *ngFor="let ket of myarray">{{ket}}</li>
</ul>
<select>
    <option *ngFor="let key of studentlist">{{key.nn}}</option>
</select>
<div *ngIf="isVisible">show or hide</div>
<button (click)="showBtn()">SHOW</button>
<button (click)="hideBtn()">HIDE</button>
<button (click)="showMESSAGE('hello')">My class</button>
<app-reuse [message]="'welcome new page'"></app-reuse> -->
<h1>payment of paypal</h1>
<div class="paypal-container">
    <div class="info">Please do not refresh th browser</div>
    <div #paymentRef></div>
    <div class=" black"></div>
</div>
<app-reuse2></app-reuse2>

<h2>rjx subject:</h2>

<div><h2 style="color: red;">{{user}}</h2></div>
